@font-face {
 font-family: "Flaticon";
      src: url("../fonts/flaticon.eot");
     src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/flaticon.woff") format("woff"),
           url("../fonts/flaticon.ttf") format("truetype"),
           url("../fonts/flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
   }
   
   @media screen and (-webkit-min-device-pixel-ratio:0) {
     @font-face {
      font-family: "Flaticon";
       src: url("../fonts/flaticon.svg#Flaticon") format("svg");
     }
   }

   [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
   [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
   	font-family: Flaticon;
   	font-style: normal;
   }

.flaticon-success:before { content: "\f100"; }
.flaticon-goal:before { content: "\f101"; }
.flaticon-mountains:before { content: "\f102"; }
.flaticon-grid-2:before { content: "\f103"; }
.flaticon-grid-1:before { content: "\f104"; }
.flaticon-grid:before { content: "\f105"; }
.flaticon-arrows-1:before { content: "\f106"; }
.flaticon-signs-1:before { content: "\f107"; }
.flaticon-cross:before { content: "\f108"; }
.flaticon-signs:before { content: "\f109"; }
.flaticon-add:before { content: "\f10a"; }
.flaticon-computer:before { content: "\f10b"; }
.flaticon-computer-1:before { content: "\f10c"; }
.flaticon-analytics:before { content: "\f10d"; }
.flaticon-laptop:before { content: "\f10e"; }
.flaticon-target:before { content: "\f10f"; }
.flaticon-coding:before { content: "\f110"; }
.flaticon-gear:before { content: "\f111"; }
.flaticon-download:before { content: "\f112"; }
.flaticon-plus:before { content: "\f113"; }
.flaticon-arrows-10:before { content: "\f114"; }
.flaticon-arrows-9:before { content: "\f115"; }
.flaticon-left-quote-sketch:before { content: "\f116"; }
.flaticon-menu-button-of-three-lines:before { content: "\f117"; }
.flaticon-wifi-connection-signal-symbol:before { content: "\f118"; }
.flaticon-world:before { content: "\f119"; }
.flaticon-word-file:before { content: "\f11a"; }
.flaticon-left-quotes:before { content: "\f11b"; }
.flaticon-right-quote-symbol:before { content: "\f11c"; }
.flaticon-right-quote-sign:before { content: "\f11d"; }
.flaticon-map-marker:before { content: "\f11e"; }
.flaticon-tag-black-shape:before { content: "\f11f"; }
.flaticon-quote-left:before { content: "\f120"; }
.flaticon-tags:before { content: "\f121"; }
.flaticon-check-1:before { content: "\f122"; }
.flaticon-user-shape:before { content: "\f123"; }
.flaticon-telephone-handle-silhouette:before { content: "\f124"; }
.flaticon-right-quotation-mark:before { content: "\f125"; }
.flaticon-earth:before { content: "\f126"; }
.flaticon-pdf:before { content: "\f127"; }
.flaticon-windows-8:before { content: "\f128"; }
.flaticon-word:before { content: "\f129"; }
.flaticon-trophy-1:before { content: "\f12a"; }
.flaticon-e-mail-envelope:before { content: "\f12b"; }
.flaticon-go-back-arrow:before { content: "\f12c"; }
.flaticon-boat-anchor:before { content: "\f12d"; }
.flaticon-smartphone-call:before { content: "\f12e"; }
.flaticon-send-message-button:before { content: "\f12f"; }
.flaticon-web:before { content: "\f130"; }
.flaticon-boat-lifesaver:before { content: "\f131"; }
.flaticon-business:before { content: "\f132"; }
.flaticon-arrow:before { content: "\f133"; }
.flaticon-home-page:before { content: "\f134"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f135"; }
.flaticon-straight-quotes:before { content: "\f136"; }
.flaticon-quotation-marks:before { content: "\f137"; }
.flaticon-placeholder-2:before { content: "\f138"; }
.flaticon-analytics-1:before { content: "\f139"; }
.flaticon-like-1:before { content: "\f13a"; }
.flaticon-menu-2:before { content: "\f13b"; }
.flaticon-connection:before { content: "\f13c"; }
.flaticon-send:before { content: "\f13d"; }
.flaticon-target-1:before { content: "\f13e"; }
.flaticon-shopping-cart:before { content: "\f13f"; }
.flaticon-message:before { content: "\f140"; }
.flaticon-play-button-5:before { content: "\f141"; }
.flaticon-home-1:before { content: "\f142"; }
.flaticon-arrows-8:before { content: "\f143"; }
.flaticon-file-1:before { content: "\f144"; }
.flaticon-chat:before { content: "\f145"; }
.flaticon-settings:before { content: "\f146"; }
.flaticon-envelope-1:before { content: "\f147"; }
.flaticon-planet-earth:before { content: "\f148"; }
.flaticon-interface-1:before { content: "\f149"; }
.flaticon-layers-1:before { content: "\f14a"; }
  .flaticon-edit-1:before { content: "\f14b"; }
  .flaticon-trophy:before { content: "\f14c"; }
  .flaticon-note-1:before { content: "\f14d"; }
  .flaticon-people-1:before { content: "\f14e"; }
  .flaticon-calendar-1:before { content: "\f14f"; }
  .flaticon-smartphone-1:before { content: "\f150"; }
  .flaticon-technology-2:before { content: "\f151"; }
  .flaticon-user-3:before { content: "\f152"; }
  .flaticon-technology-1:before { content: "\f153"; }
  .flaticon-photo-camera:before { content: "\f154"; }
  .flaticon-arrows-7:before { content: "\f155"; }
  .flaticon-arrows-6:before { content: "\f156"; }
  .flaticon-speech-bubble:before { content: "\f157"; }
  .flaticon-star:before { content: "\f158"; }
  .flaticon-graphic:before { content: "\f159"; }
  .flaticon-user-2:before { content: "\f15a"; }
  .flaticon-previous:before { content: "\f15b"; }
  .flaticon-arrows-5:before { content: "\f15c"; }
  .flaticon-padlock:before { content: "\f15d"; }
  .flaticon-up-arrow-1:before { content: "\f15e"; }
  .flaticon-right-quote:before { content: "\f15f"; }
  .flaticon-left-quote-2:before { content: "\f160"; }
  .flaticon-right-arrow-4:before { content: "\f161"; }
  .flaticon-drop:before { content: "\f162"; }
  .flaticon-unlink:before { content: "\f163"; }
  .flaticon-search:before { content: "\f164"; }
  .flaticon-play-button-4:before { content: "\f165"; }
  .flaticon-play-button-3:before { content: "\f166"; }
  .flaticon-user-1:before { content: "\f167"; }
  .flaticon-users:before { content: "\f168"; }
  .flaticon-placeholder-1:before { content: "\f169"; }
  .flaticon-home:before { content: "\f16a"; }
  .flaticon-folder:before { content: "\f16b"; }
  .flaticon-alarm-clock-1:before { content: "\f16c"; }
  .flaticon-alarm-clock:before { content: "\f16d"; }
  .flaticon-clock-2:before { content: "\f16e"; }
  .flaticon-layers:before { content: "\f16f"; }
  .flaticon-two-quotes:before { content: "\f170"; }
  .flaticon-download-2:before { content: "\f171"; }
  .flaticon-play-button-2:before { content: "\f172"; }
  .flaticon-play-button-1:before { content: "\f173"; }
  .flaticon-file:before { content: "\f174"; }
  .flaticon-calendar:before { content: "\f175"; }
  .flaticon-menu-1:before { content: "\f176"; }
  .flaticon-note:before { content: "\f177"; }
  .flaticon-arrows-4:before { content: "\f178"; }
  .flaticon-arrows-3:before { content: "\f179"; }
  .flaticon-menu:before { content: "\f17a"; }
  .flaticon-checked-1:before { content: "\f17b"; }
  .flaticon-checked:before { content: "\f17c"; }
  .flaticon-check:before { content: "\f17d"; }
  .flaticon-cancel-1:before { content: "\f17e"; }
  .flaticon-back-1:before { content: "\f17f"; }
  .flaticon-shopping-bag-3:before { content: "\f180"; }
  .flaticon-piggy-bank-1:before { content: "\f181"; }
  .flaticon-phone-call:before { content: "\f182"; }
  .flaticon-vector:before { content: "\f183"; }
  .flaticon-house:before { content: "\f184"; }
  .flaticon-share:before { content: "\f185"; }
  .flaticon-musical-note:before { content: "\f186"; }
  .flaticon-back:before { content: "\f187"; }
  .flaticon-download-1:before { content: "\f188"; }
  .flaticon-avatar:before { content: "\f189"; }
  .flaticon-edit:before { content: "\f18a"; }
  .flaticon-link:before { content: "\f18b"; }
  .flaticon-like:before { content: "\f18c"; }
  .flaticon-heart:before { content: "\f18d"; }
  .flaticon-placeholder:before { content: "\f18e"; }
  .flaticon-next:before { content: "\f18f"; }
  .flaticon-garbage:before { content: "\f190"; }
  .flaticon-telephone:before { content: "\f191"; }
  .flaticon-money-bag:before { content: "\f192"; }
  .flaticon-shopping-bag-2:before { content: "\f193"; }
  .flaticon-piggy-bank:before { content: "\f194"; }
  .flaticon-favorite:before { content: "\f195"; }
  .flaticon-minus:before { content: "\f196"; }
  .flaticon-unchecked:before { content: "\f197"; }
  .flaticon-user:before { content: "\f198"; }
  .flaticon-timer:before { content: "\f199"; }
  .flaticon-profile:before { content: "\f19a"; }
  .flaticon-right-arrow-3:before { content: "\f19b"; }
  .flaticon-cancel:before { content: "\f19c"; }
  .flaticon-right-arrow-2:before { content: "\f19d"; }
  .flaticon-left-arrow-2:before { content: "\f19e"; }
  .flaticon-down-arrow:before { content: "\f19f"; }
  .flaticon-clock-1:before { content: "\f1a0"; }
  .flaticon-interface:before { content: "\f1a1"; }
  .flaticon-shopping-bag-1:before { content: "\f1a2"; }
  .flaticon-shopping-bag:before { content: "\f1a3"; }
  .flaticon-arrows-2:before { content: "\f1a4"; }
  .flaticon-magnifying-glass:before { content: "\f1a5"; }
  .flaticon-letter:before { content: "\f1a6"; }
  .flaticon-smartphone:before { content: "\f1a7"; }
  .flaticon-time:before { content: "\f1a8"; }
  .flaticon-left-arrow-1:before { content: "\f1a9"; }
  .flaticon-right-arrow-1:before { content: "\f1aa"; }
  .flaticon-minus-symbol:before { content: "\f1ab"; }
  .flaticon-plus-symbol:before { content: "\f1ac"; }
  .flaticon-download-arrow-1:before { content: "\f1ad"; }
  .flaticon-download-arrow:before { content: "\f1ae"; }
  .flaticon-envelope:before { content: "\f1af"; }
  .flaticon-up-arrow:before { content: "\f1b0"; }
  .flaticon-pin:before { content: "\f1b1"; }
  .flaticon-people:before { content: "\f1b2"; }
  .flaticon-commenting:before { content: "\f1b3"; }
  .flaticon-technology:before { content: "\f1b4"; }
  .flaticon-sent-mail:before { content: "\f1b5"; }
  .flaticon-label:before { content: "\f1b6"; }
  .flaticon-menu-options:before { content: "\f1b7"; }
  .flaticon-arrow-pointing-to-right:before { content: "\f1b8"; }
  .flaticon-bank-building:before { content: "\f1b9"; }
  .flaticon-right-arrow:before { content: "\f1ba"; }
  .flaticon-clock:before { content: "\f1bb"; }
  .flaticon-house-outline:before { content: "\f1bc"; }
  .flaticon-left-arrow:before { content: "\f1bd"; }
  .flaticon-round:before { content: "\f1be"; }
  .flaticon-play-arrow:before { content: "\f1bf"; }
  .flaticon-check-symbol:before { content: "\f1c0"; }
  .flaticon-forward-arrow:before { content: "\f1c1"; }
  .flaticon-left-quote-1:before { content: "\f1c2"; }
  .flaticon-placeholder-filled-point:before { content: "\f1c3"; }
  .flaticon-right-quotation-sign:before { content: "\f1c4"; }
  .flaticon-left-quote:before { content: "\f1c5"; }
  .flaticon-quote-hand-drawn-symbol:before { content: "\f1c6"; }
  .flaticon-shopping-cart-of-checkered-design:before { content: "\f1c7"; }
  .flaticon-sheet:before { content: "\f1c8"; }
  .flaticon-rss-updates-subscription:before { content: "\f1c9"; }
  .flaticon-play-button:before { content: "\f1ca"; }
  .flaticon-arrows:before { content: "\f1cb"; }
  .flaticon-upload:before { content: "\f1cc"; }